<ion-header>
    <ion-toolbar>
        <ion-title>Reset Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label position="floating">New Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.invalid" class="error">
            Password must be at least 8 characters
        </div>

        <ion-button expand="block" type="submit" [disabled]="!resetForm.valid || !token" class="ion-margin-top">
            Reset Password
        </ion-button>
    </form>
</ion-content>